.bsp/
.bloop/
.idea/
.metals/
.scala-build/
.vscode/
.venv-cf-ipm/
build/
generated/
generated-sky130-cache/
ip/
ppa/librelane/runs/
project/project/
project/target/
target/
test_run_dir/
*.class
*.log
